<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Prediction</title>
  </head>
  <body>
    <h1>Prediction</h1>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <div  id='b1' class="alert alert-success" role="alert">
        {{ text }}
    </div> 
    <div class="clearfix">
        <img src="https://th.bing.com/th/id/OIP.oTNIz_aIwQl8ca658E5bHQHaFj?pid=ImgDet&rs=1" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..." height="300px" width="100px">
      
        <p>
            A diabetes diet simply means eating the healthiest foods in moderate amounts and sticking to regular mealtimes.
        </p>
      
        <p>
            A diabetes diet is based on eating three meals a day at regular times. This helps you better use the insulin that your body produces or gets through a medication.

            A registered dietitian can help you put together a diet based on your health goals, tastes and lifestyle. He or she can also talk with you about how to improve your eating habits, such as choosing portion sizes that suit the needs for your size and activity level.
        </p>
      
        <p>
        <h3>  Recommended foods</h3>
            Make your calories count with these nutritious foods. Choose healthy carbohydrates, fiber-rich foods, fish and "good" fats.
            
            <h4> Healthy carbohydrates</h4>
            During digestion, sugars (simple carbohydrates) and starches (complex carbohydrates) break down into blood glucose. Focus on healthy carbohydrates, such as:
            
            Fruits
            Vegetables
            Whole grains
            Legumes, such as beans and peas
            Low-fat dairy products, such as milk and cheese
            Avoid less healthy carbohydrates, such as foods or drinks with added fats, sugars and sodium.
            
          <h4>Fiber-rich foods</h4>
            Dietary fiber includes all parts of plant foods that your body can't digest or absorb. Fiber moderates how your body digests and helps control blood sugar levels. Foods high in fiber include:
            
            Vegetables
            Fruits
            Nuts
            Legumes, such as beans and peas
            Whole grains
            Heart-healthy fish
            Eat heart-healthy fish at least twice a week. Fish such as salmon, mackerel, tuna and sardines are rich in omega-3 fatty acids, which may prevent heart disease.
            
            Avoid fried fish and fish with high levels of mercury, such as king mackerel.
            
           <h4>'Good' fats </h4>
            Foods containing monounsaturated and polyunsaturated fats can help lower your cholesterol levels. These include:
            
            Avocados
            Nuts
            Canola, olive and peanut oils
            But don't overdo it, as all fats are high in calories.
            
          <h3>  Foods to avoid </h3>
            Diabetes increases your risk of heart disease and stroke by accelerating the development of clogged and hardened arteries. Foods containing the following can work against your goal of a heart-healthy diet.
            
            Saturated fats. Avoid high-fat dairy products and animal proteins such as butter, beef, hot dogs, sausage and bacon. Also limit coconut and palm kernel oils.
            Trans fats. Avoid trans fats found in processed snacks, baked goods, shortening and stick margarines.
            Cholesterol. Cholesterol sources include high-fat dairy products and high-fat animal proteins, egg yolks, liver, and other organ meats. Aim for no more than 200 milligrams (mg) of cholesterol a day.
            Sodium. Aim for less than 2,300 mg of sodium a day. Your doctor may suggest you aim for even less if you have high blood pressure.
        </p>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<style>
    .clear-fix{
        margin-left: 200px;
    }
</style>